*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* VARIÁVEIS */
:root {
    font-family: 'Pixelify Sans', 'Helvetica', sans-serif;
    font-size: 14px;
    --preto: #1e1d1d;
    --rosa-escuro: #e75480;
    --rosa-fraco: #fe91a6;
    --azul: #54c6e8;
    --amarelo: #e8dd54;
    --radius: 36px;
    --ease-in-out: cubic-bezier(0.5, 0, 0.5, 1);
}

/* CLASSES ÚTILIZARIAS */
.sedgwick {
    font-family: 'Sedgwick Ave Display', sans-serif;
}
